//Annocument Banner
.c-banner {
    width: 100%;
    height: 80px;
    background-color: $black;
    color: $white;
    font-family: $archivo;
    font-size: 1.6rem;
    position: relative;
    top: 0;
    left: 0;
    padding: 1.2rem 2rem;
    z-index: 10;
    text-align: center;
    @media only screen and (max-width: 1400px) {
        font-size: 1.4rem;
        height: 100px;
    }
    @media only screen and (max-width: 1100px) {
        font-size: 1.2rem;
        height: auto;
    }
    @media only screen and (max-width: 800px) {
        font-size: 1rem;
        height: auto;
    }
}

.c-homepage {

  &__featured-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media only screen and (max-width: $tablet_max) {
      display: block;
      grid-template-columns: 1fr;
  }
    li {
      list-style-type: none;
      @media only screen and (max-width: $tablet_max) {
        margin-bottom: 0.5rem;
    }
    }
  }

  &__featured-link {
    background-color: $black;
    color: $white;
    padding: 0.8rem 1.2rem;
    display: inline-block;
    position: absolute;
    top: 20px;
    @media only screen and (max-width: $tablet_max) {
      top: auto;
      bottom: 20px;
  }
  }
  &__featured-image-list-item {
    margin-right: 0.5rem;
    position: relative;
    @media only screen and (max-width: $tablet_max) {
      margin-right: 0;
  }
  
    figure {
      position: relative;
      overflow: hidden;
      &:before {
          content: "";
          position: relative;
          display: block;
          width: 100%;
          height: 0;
          padding-bottom: 80%;
      }
      img {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
      }
  }
  }
  &__featured-meta-info {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
  &__featured-big-title {
    color: $white;
    font-family: $archivo;
    font-weight: 600;
    margin-bottom: 1.6rem;
    text-transform: uppercase;
  }
  &__latest-collections {
    @include container-margins;
  }
  &__latest-collections-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    list-style-type: none;
    margin-top: 4.5rem;
    margin-bottom: 2rem;
    @media only screen and (max-width: $tablet_max) {
      grid-template-columns: 1fr 1fr;
  }
  }
  &__latest-collection-list-item-title {
    margin-top: 0.5rem;
    text-align: center;
    color: $black;
    font-weight: 500;
  }
  &__latest-collections-title {
    text-align: center;
    text-transform: uppercase;
    margin: 2.5rem 0;
  }
  &__latest-collection-list-item {
    margin-right: 1.5rem;
    @media only screen and (max-width: $tablet_max) {
      margin-bottom: 2rem;
  }
    figure {
      position: relative;
      overflow: hidden;
      &:before {
          content: "";
          position: relative;
          display: block;
          width: 100%;
          height: 0;
          padding-bottom: 150%;
      }
      img {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          transition: 300ms cubic-bezier(0.64, 0.04, 0.35, 1);
          &:hover {
              transform: scale(1.05);
            }
      }
  }
  }
  &__best-sellers {
    @include container-margins;
    margin-top: 6.5rem;
    @media only screen and (max-width: $tablet_max) {
      margin-top: 2rem;
  }
  }
  &__best-sellers-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    list-style-type: none;
    @media only screen and (max-width: $tablet_max) {
      display: grid;
      grid-template-columns: 1fr;
  }
  }
  &__best-sellers-title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1.2rem;
  }
  &__best-sellers-list-item {
    margin-right: 1.5rem;
    @media only screen and (max-width: $tablet_max) {
      margin-bottom: 2.5rem;
      margin-right: 0;
  }
    figure {
      position: relative;
      overflow: hidden;
      &:before {
          content: "";
          position: relative;
          display: block;
          width: 100%;
          height: 0;
          padding-bottom: 159%;
          @media only screen and (max-width: $tablet_max) {
            padding-bottom: 100%;
        }
      }
      img {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          transition: 300ms cubic-bezier(0.64, 0.04, 0.35, 1);
          &:hover {
              transform: scale(1.05);
            }
      }
  }
  }
  &__best-sellers-list-item-title {
    margin-top: 0.5rem;
    text-align: center;
    color: $black;
    font-weight: 400;
    @media only screen and (max-width: $tablet_max) {
      margin-top: 1.5rem;
  }
  }
  &__best-sellers-desc {
    text-align: center;
    margin-bottom: 4rem;
    @media only screen and (max-width: $tablet_max) {
      margin-bottom: 2.5rem;
  }
  }
  &__newsletter-section {
    margin-top: 8rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 0.8fr 0.6fr;
    box-shadow: $box-shadow-light-black--2;
    @include container-margins;
    @media only screen and (max-width: $tablet_max) {
      display: block;
      margin-top: 4rem;
  }
  }
  &__newsletter-image {
    max-width: 100%;
    img {
      width: 100%;
      display: block;
      object-fit: cover;
    }
  }
  &__newsletter-content {
    padding: 1.5rem;

  }
  &__newsletter-title {
    margin-bottom: 1.5rem;
  }
  &__newsletter-desc {
    margin-bottom: 1.5rem;
    font-weight: 400;
    color: rgba($black, 0.4);
  }
  &__newsletter-form {
    label {
      margin-right: 1rem;
    }
    .mc4wp-form-fields {
      p {
        margin-bottom: 1.2rem;
      }
      input[type="text"], input[type="email"] {
        width: 50% !important;
        padding: 0.25rem 0 !important;
        border: none;
        border-bottom: 1.2px solid $black;
        outline: none;
        margin-right: 1rem;
      }
      input[type="email"] {
        margin-left: 0.5rem;
      }
      input[type="submit"] {
        background-color: $black;
        color: $white;
        padding: 0.8rem 1.2rem;
        display: inline-block;
        border: none;
        outline: none;
        cursor: pointer;
        margin-top: 1.2rem;
      }
    }
  }
}