//Annocument Banner
.c-banner {
    width: 100%;
    height: 80px;
    background-color: $black;
    color: $white;
    font-family: $archivo;
    font-size: 1.6rem;
    position: relative;
    top: 0;
    left: 0;
    padding: 1.2rem 2rem;
    z-index: 10;
    text-align: center;
    @media only screen and (max-width: 1400px) {
        font-size: 1.4rem;
        height: 100px;
    }
    @media only screen and (max-width: 1100px) {
        font-size: 1.2rem;
        height: auto;
    }
    @media only screen and (max-width: 800px) {
        font-size: 1rem;
        height: auto;
    }
}

.c-homepage {

  &__featured-images {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    li {
      list-style-type: none;
    }
  }

  &__featured-link {
    background-color: $black;
    color: $white;
    padding: 0.8rem 1.2rem;
    display: inline-block;
    margin-left: 2.5rem;
  }
  &__featured-big {
    margin-right: 0.5rem;
    position: relative;
    figure {
      position: relative;
      overflow: hidden;
      &:before {
          content: "";
          position: relative;
          display: block;
          width: 100%;
          height: 0;
          padding-bottom: 80%;
      }
      img {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
      }
  }
  }
  &__featured-meta-info {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
  &__featured-small-title {
    color: $white;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  &__featured-small {
    figure {
      position: relative;
      overflow: hidden;
      &:before {
          content: "";
          position: relative;
          display: block;
          width: 100%;
          height: 0;
          padding-bottom: 159%;
      }
      img {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
      }
  }
  }
  &__latest-collections-title {
    text-align: center;
    text-transform: uppercase;
    margin: 2.5rem 0;
  }
}