.single-slick-container{
    width: 100vw;
    position: relative;
    left: calc(50% - 50vw);
    @media only screen and (max-width: 800px) {
        margin-top: 7rem;
    }
    .single-slick {
        img {
        width: 100%;
        height: auto;
        object-fit: cover;
        }
    }
}

.slider-home-title {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 100;
    color: $white;
    font-size: 3rem;
    @media only screen and (max-width: 800px) {
        font-size: 1.3rem;
     }
}

.slider-home-link {
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 100;
    display: block;
    color: $white;
    border-bottom: 1px solid $white;
    transition: 300ms;
    &:hover, &:focus {
        &:after {
            transform: translateX(4deg);
        }
    }
    &:after {
        content: '';
        background-image: url('../img/chevron-right-white.svg');
        background-repeat: no-repeat;
        background-position: center center;
        width: 12px;
        height: 12px;
        display: inline-block;
        margin-left: 5px;
    }
    @media only screen and (max-width: 800px) {
        top: 40%;
     }
}

//HOMEPAGE CATEGORY
.homepage-category-container {
    display: flex;
    margin: 2rem 0;
    @media only screen and (max-width: 800px) {
       flex-direction: column;
    }
}

.homepage-category {
width: 100%;
padding-right: 0.4rem;
@media only screen and (max-width: 800px) {
    margin-top: 1.2rem;
    padding-right: 0;
 }
&:last-child {
    padding-right: 0;
}
figure {
    position: relative;
    overflow: hidden;
    &:before {
        content: "";
        position: relative;
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
    }
    img {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        transition: 300ms cubic-bezier(0.64, 0.04, 0.35, 1);
        &:hover , &:focus {
            transform: scale(1.02);
        }
    }
}
    &__text {
        display: block;
        font-size: 0.8rem;
        text-align: center;
        color: $black;
        cursor: pointer;
        &:hover {
            color: $gray;
            text-decoration: underline;
            text-underline-position: under;
            transition: 300ms;
        }
    }
}

//Homepage Categories
.homepage-categories {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  margin-top: 4rem;
  li {
    flex-basis: 30%;
  }
}