.cart-page-container {
    display: flex;
    justify-content: space-between;
    margin: 0 1.5rem;
    margin-bottom: 2rem;
    @media only screen and (max-width: 800px) {
        flex-direction: column;
     }
    .woocommerce-cart-form {
        width: 65%;
        @media only screen and (max-width: 800px) {
            width: 100%;
         }
        .shop_table {
            border: none;
            .product-thumbnail {
                img {
                    width: 35%;
                    object-fit: cover;
                }
            }
            .product-name {
                width: 50%;
            }
            .product-name a {
                color: $black;
                font-size: 1.2rem;
                display: block;
                margin-bottom: 1.2rem;
                &:hover {
                    color: $tan;
                }
            }
            th {
                font-family: $archivo;
            }
        }
    }
    .cart-collaterals {
       width: 30%;
       @media only screen and (max-width: 800px) {
        width: 100%;
     }
     &__coupon-title {
        display: block;
        margin-bottom: 1.5rem;
    }
     &__title {
        font-family: $archivo;
        margin-bottom: 1.5rem;
     }
    }
    .cart_totals {
        width: 100% !important;
        float: unset !important;
        h2 {
            display: none;
        }
        table {
            border: none;
        }
    }
}

.woocommerce-cart-form {
    td {
        font-family: $archivo;
    }
}

.product-price, .product-subtotal {
    .woocommerce-Price-amount {
        font-family: $archivo;
    }
}

  //CART TOTAL
  .cart-subtotal, .order-total{
    font-family: $spectral;
    font-size: 1.2rem;
  }

  .secure-icon {
      height: 1.2rem !important;
  }

.coupon {
    display: flex;
    margin-bottom: 1.5rem;
}

#coupon_code {
    width: 50%;
    border: none;
    border: 1px solid $black;
    padding-left: 1rem;
    padding: 0.5rem 0.9rem !important; 
}

button[name="apply_coupon"] {
    background-color: $black !important;
    color: $white !important;
    font-family: $archivo;
    font-weight: 400 !important;
    border-radius: 0 !important;
    padding: 0.5rem 0.9rem !important; 
    width: 25% !important;
}

button[name="update_cart"] {
    background-color: $black !important;
    color: $white !important;
    font-family: $archivo;
    border-radius: 0 !important;
    width: 25% !important;
    display: block;
    margin-bottom: 2rem;
}

  //CHECKOUT 
  .checkout-button {
      background-color: $black !important;
    border-radius: 0 !important;
  }

  //EMPTY CART
  .cart-is-empty-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5rem;
  }

  .continue-shopping-btn {
      padding-bottom: 0.2rem;
      border-bottom: 1px solid $gray;
      color: $gray;
      display: block;
      margin: 1.5rem 0;
  }

  .empty-cart-recc-products {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 2rem;
      margin-bottom: 4rem;
      @media only screen and (max-width: 800px) {
        flex-direction: column;
     }
  }

  .cart-empty-related-single {
      width: 30%;
      font-family: $archivo;
      position: relative;
      overflow: hidden;
      @media only screen and (max-width: 800px) {
        width: 100%;
        margin-bottom: 1.5rem;
     }
      &:before {
        content: "";
        position: relative;
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
    }
      img {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
      }
      &__link {
          color: $black;
          &:hover {
              transition: 300ms;
              color: $tan;
          }
      }
  }

  .cart-empty-recc-title {
      margin-top: 10rem;
  }

  .woocommerce-message {
    font-family: $archivo;
    background-color: transparent;
    border-top: none !important;
    &::before {
        color:#00BA23 !important;
    }
  }

.woocommerce-message {
    display: none;
}

.shop-cart-title {
    margin: 2.5rem 0;
    margin-left: 2.5rem;
}

.woocommerce a.remove {
    color: rgba($black, 0.2) !important;
    font-weight: 300;
    font-family: $archivo;
    font-size: 1.1rem !important;
    display: block;
    margin-top: 1rem;
    &:hover {
        background: none;
        color: rgba($black, 0.2) !important;
    }
}

.cart_totals {
    margin-top: 1.5rem !important;
}