.woocommerce-additional-fields {
    display: none;
}

.woocommerce-billing-fields {
    input {
        padding: 0.5rem;
        border-radius: 0 !important;
        outline: none !important;
        border: 1px solid $tan;
    }
}

.select2-container--default .select2-selection--single {
    border-radius: 0 !important;
}

.woocommerce-checkout .woocommerce {
    margin: 0 4rem;
    @media only screen and (max-width: 800px) {
        margin: 0 2rem;
      }
}

#order_review_heading {
    margin-bottom: 1rem;
    @media only screen and (max-width: 800px) {
       margin-top: 1rem;
      }
}

.woocommerce-checkout-review-order-table {
    .cart_item {
        font-family: $archivo;
        font-size: 1.2rem;
    }
    .product-name, .product-total {
        font-family: $archivo;
    }
}

.woocommerce-info {
    border-top: 0 !important;
    font-family: $archivo;
    &::before {
        display: none;
    }
}

input[type="tel"] {
    border: 1px solid $tan;
}

input[type="email"] {
    border: 1px solid $tan;
}

.woocommerce-billing-fields input {
    border: 1px solid $tan !important; 
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    background-color: #00ba23 !important;
    margin-top: 1rem;
    border-radius: 0 !important;
}

//order reciept 
.woocommerce-notice .woocommerce-notice--success .woocommerce-thankyou-order-received {
    margin-bottom: 1rem !important;
}

.woocommerce-order-details {
    h2 {
        margin-bottom: 1rem;
    }
    table th, td {
        font-family: $archivo;
    }
    table {
        border-radius: none;
    }
}

.woocommerce-customer-details {
    h2 {
        margin-bottom: 1rem;
    }
    address {
        font-family: $archivo;
        border-radius: none;
    }
}

.woocommerce-order-overview .woocommerce-thankyou-order-details .order_details {
    @media only screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
       }
}

.woocommerce ul.order_details li {
    @media only screen and (max-width: 800px) {
        border-right: none !important;
       }
}

.woocommerce-checkout {
    #customer_details {
        display: flex;
        justify-content: space-between;
        padding-bottom: 4.5rem;
        @media only screen and (max-width: 800px) {
            flex-direction: column;
           }
    }
    .customer-details--left {
        width: 60%;
        @media only screen and (max-width: 800px) {
            width: 100%;
           }
    }
    .customer-details--right {
        width: 35%;
        @media only screen and (max-width: 800px) {
            width: 100%;
           }
    }
    .woocommerce form .form-row .select2-container {
        width: 100% !important;
    }
    .woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th {
        font-family: $archivo;
    }
    .woocommerce-shipping-fields {
        margin-top: 4rem;
        input[type="text"] {
            padding: 0.5rem;
        }
    }
    .woocommerce-form-coupon-toggle {
        margin: 3.5rem auto;
        width: 50%;
    }
    .woocommerce-checkout-payment {
        background-color: $white !important;
    }
    .payment_box {
        background-color: $white !important;
        padding: 0 !important;
        &::before {
            display: none !important;
        }
    }
    label[for=payment_method] {
        font-size: 1.3rem !important;
    }
}

//Confirmation Page
.woocommerce-order-received {
    .woocommerce-order {
        margin-top: 2.5rem;
    }
    .woocommerce-notice  {
        text-align: center;
        display: block;
        margin-bottom: 1.5rem;
    }
    .woocommerce-order-overview {
        text-align: center;
        margin: 2.5rem auto !important;
        width: 50% !important;
        display: flex !important;
        @media only screen and (max-width: 800px) {
            width: 100% !important;
            flex-direction: column !important;
           }
           &::before {
            @media only screen and (max-width: 800px) {
                display: none !important;
            }
           }
    }
    .woocommerce-column__title {
        @media only screen and (max-width: 800px) {
             margin-top: 1.5rem;
           }
    }
}

.woocommerce-checkout {
    margin-top: 3.5rem;
}